images/
*.pyc
*.DS_Store
demos/solana/
.vscode/
*/.ipynb_checkpoints/*
.ipynb_checkpoints/*
.idea/
**/Untitled.ipynb
**/*.db
notebooks/metadata/
demos/cython/build/
demos/cython/cython_demo.cpython-38-darwin.so
**/bazel-3.2.0-installer-darwin-x86_64.sh
