absl-py==1.0.0
alembic==1.6.5
aniso8601==7.0.0
anyio==3.4.0
apache-airflow==2.2.2
apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-http==2.0.1
apache-airflow-providers-imap==2.0.1
apache-airflow-providers-sqlite==2.0.1
apache-beam==2.27.0
apache-flink==1.14.4
apache-flink-libraries==1.14.4
apispec==3.3.2
appnope==0.1.2
argcomplete==1.12.3
ariadne==0.14.1
asgiref==3.5.0
asttokens==2.0.5
attrs==20.3.0
avro-python3==1.9.2.1
Babel==2.9.1
backcall==0.2.0
black==22.3.0
bleach==4.1.0
blinker==1.4
cachetools==5.0.0
cattrs==1.5.0
certifi==2020.6.20
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.8
click==7.1.2
clickclick==20.10.2
cloudpickle==1.2.2
colorama==0.4.4
coloredlogs==14.0
colorlog==5.0.1
commonmark==0.9.1
crcmod==1.7
croniter==1.0.15
cryptography==36.0.0
Cython==0.29.22
dagit==0.13.10
dagster==0.13.10
dagster-graphql==0.13.10
dask==2022.1.1
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.1.1
dnspython==2.1.0
docopt==0.6.2
docstring-parser==0.13
docutils==0.16
email-validator==1.1.3
entrypoints==0.3
executing==0.8.3
fastapi==0.75.2
fastavro==1.4.11
feast==0.21.1
flasgger==0.9.5
Flask==1.1.4
Flask-AppBuilder==3.4.0
Flask-Babel==2.0.0
Flask-Caching==1.10.1
Flask-Cors==3.0.10
Flask-GraphQL==2.0.1
Flask-JWT-Extended==3.25.1
Flask-Login==0.4.1
Flask-OpenID==1.3.0
Flask-Sockets==0.2.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
fsspec==2022.3.0
future==0.18.2
gevent==21.8.0
gevent-websocket==0.10.1
google-api-core==2.7.2
google-auth==2.6.6
googleapis-common-protos==1.52.0
gql==2.0.0
graphene==2.1.9
graphql-core==3.1.7
graphql-relay==2.0.1
graphql-server-core==1.2.0
graphql-ws==0.3.1
graphviz==0.19
greenlet==1.1.2
grpcio==1.44.0
grpcio-health-checking==1.42.0
grpcio-reflection==1.44.0
grpcio-tools==1.42.0
gunicorn==20.1.0
h11==0.12.0
hdfs==2.7.0
httpcore==0.14.3
httplib2==0.17.4
httptools==0.4.0
httpx==0.21.1
humanfriendly==10.0
idna==2.10
importlib-metadata==4.8.2
importlib-resources==5.4.0
inflection==0.5.1
ipython==8.2.0
ipython-genutils==0.2.0
iso8601==1.0.2
isodate==0.6.0
itsdangerous==1.1.0
jedi==0.18.1
Jinja2==2.11.3
jsonschema==3.2.0
jupyter-core==4.9.1
lazy-object-proxy==1.6.0
locket==1.0.0
lockfile==0.12.2
Mako==1.1.6
Markdown==3.3.6
MarkupSafe==1.1.1
marshmallow==3.14.1
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
matplotlib-inline==0.1.3
mistune==0.8.4
mmh3==3.0.0
mock==2.0.0
mypy-extensions==0.4.3
nbconvert==6.5.1
nbformat==5.1.3
numpy==1.18.5
oauth2client==4.1.3
openapi-schema-validator==0.1.5
openapi-spec-validator==0.3.1
orjson==3.6.7
packaging==21.3
pandas==1.0.4
pandavro==1.5.2
pandocfilters==1.5.0
parso==0.8.3
partd==1.2.0
pathspec==0.9.0
pbr==5.8.1
pendulum==2.1.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
platformdirs==2.5.1
prison==0.2.1
promise==2.3
prompt-toolkit==3.0.28
proto-plus==1.19.6
protobuf==3.17.3
psutil==5.8.0
ptyprocess==0.7.0
pure-eval==0.2.2
py4j==0.10.8.1
pyarrow==6.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.9.0
pydot==1.4.2
pyflink==1.0
Pygments==2.10.0
PyJWT==1.7.1
pymongo==3.12.3
pyparsing==2.4.7
pyrsistent==0.18.0
python-daemon==2.3.0
python-dateutil==2.8.0
python-dotenv==0.20.0
python-editor==1.0.4
python-nvd3==0.15.0
python-slugify==4.0.1
python3-openid==3.2.0
pytz==2020.1
pytzdata==2020.1
PyYAML==6.0
requests==2.26.0
rfc3986==1.5.0
rich==10.15.2
rsa==4.8
Rx==1.6.1
setproctitle==1.2.2
six==1.15.0
sniffio==1.2.0
SQLAlchemy==1.3.24
SQLAlchemy-JSONField==1.0.0
SQLAlchemy-Utils==0.37.9
stack-data==0.2.0
starlette==0.17.1
swagger-ui-bundle==0.0.9
tabulate==0.8.9
tenacity==8.0.1
tensorflow-metadata==1.7.0
termcolor==1.1.0
testpath==0.5.0
text-unidecode==1.3
toml==0.10.2
tomli==2.0.1
toolz==0.11.2
toposort==1.7
tqdm==4.62.3
traitlets==5.1.1
typing-compat==0.1.0
typing_extensions==4.1.1
unicodecsv==0.14.1
urllib3==1.25.11
uvicorn==0.17.6
uvloop==0.16.0
watchdog==2.1.6
watchgod==0.8.2
wcwidth==0.2.5
webencodings==0.5.1
websockets==10.3
Werkzeug==1.0.1
WTForms==2.3.3
zipp==3.6.0
zope.event==4.5.0
zope.interface==5.4.0
