<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  </head>
  <body>
    <div class="row">
      <div class="col-md-10 mr-auto ml-auto">
        <h1>Assistant</h1>
        <form onsubmit="call_chatbot(event)">
          <div id="chatbox">
            <div class="col-md-8 ml-auto mr-auto">
              <p class="botText"><span>Hi! I'm your Bot.<br>
                I'm here to help you serve our customers faster! I may occassionally get some things wrong, so if I do feel free to let the team know!</span>
              </p>
            </div>
          </div>
          <div id="userInput" class="row">
            <div class="col-md-10">
              <input id="text" type="text" name="msg" placeholder="Message" class="form-control">
              <button type="submit" id="send" class="btn btn-warning">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <script>
  async function call_chatbot(event) {
    event.preventDefault();

    let userTextElement = document.createElement('p');
    let botTextElement = document.createElement('p');

    let userInput = document.getElementById('text').value;
    userTextElement.innerHTML = "<span>" + userInput + "</span>";
    userTextElement.className = 'userText';

    document.getElementById('chatbox').appendChild(userTextElement);

    const response = await fetch("/chat", {
      method: "POST",
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({"msg": userInput}),
    });

    const data = await response.json();
    botTextElement.innerHTML = "<span>" + data['msg'] + "</span>";
    botTextElement.className = 'botText';

    document.getElementById('chatbox').appendChild(botTextElement);

    document.getElementById('text').value = '';
  };
    /*
      $(document).ready(function() {
        $("form").on("submit", function(event) {
          var rawText = $("#text").val();
          var userHtml = ` < p class = \"userText\" > < span > ` + rawText + ` < /span> < /p>`;
          $("#text").val("");
          $("#chatbox").append(userHtml);
          document.getElementById("userInput").scrollIntoView({
            block: "start",
            behavior: "smooth",
          });
          $.ajax({
            data: {
              msg: rawText,
            },
            type: "POST",
            url: " /chat",
          }).done(function(data) {
            var botHtml = " < p class = \"botText\" > < span > " + data + " < /span> < /p>";
            $("#chatbox").append($.parseHTML(botHtml));
            document.getElementById("userInput").scrollIntoView({
              block: "start",
              behavior: "smooth",
            });
          });
          event.preventDefault();
        });
      }); */
    </script>
  </body>
</html>
